@import url(./font.css);

/* font-family: 'Open Sans', sans-serif; */

*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  display: inline-block;
}
.header{
  margin: 0 auto;
}
.container{
  max-width: 1440px;
  padding: 0px 15px;
  margin: 0 auto;
}
.header__inner{
  background-image: url("../img/header-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 41px;
  padding-bottom: 71px;
  max-width: 1440px;
  text-align:center ;
}
.header__inner-logo{
  padding-bottom: 318px;
}
.header__inner-logo img{
  width: 100px;
  height: 23px;
}
.header__inner-text{
  padding-bottom: 220px;
}
.header-text__title{
  font-family: "BebasNeue";
  font-size: 60px;
  color: white;
  letter-spacing: 5.70937px;
}
.header-text__discribe{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  line-height: 22px;
}
.header__inner-btn a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: white;
  letter-spacing: 3.7px;
}